/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

@import "bootstrap"
@import "statuses"

$color1: #4c66a4
$color2: #9aa9c8

body
  padding-top: 50px

.alert
  margin-top: 10px

.navbar-fakebook
  @extend .navbar-inverse
  background: $color1
  color: $color2
  > li > a
    color: $color2
  a
    color: $color2
    &:hover, &:focus
      color: #ffffff

.navbar-nav
  color: $color1